[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
flask = "*"
flask-socketio = "*"
flask-session = "*"
'pymongo[tls,srv]'= "*"
PyJWT = "*"
flask-mail = "*"
flask-cors = "*"

[requires]
python_version = "3.8"
