[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = "*"
pyyaml = "*"
flask = "*"
flask-socketio = "*"
flask-session = "*"

[requires]
python_version = "3.8"
